/* Cool font */
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400');

html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
  min-width: 345px;
  width: auto !important;
  width: 345px;
}
body,
.app {
  background: #0b2535;
  font-family: 'Exo 2', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  color: white;
}

/* Main Page */

/* Header */
.list-books-header {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 5px 0;
}
.list-books-title {
  flex: 2 0 0;
  align-self: center;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  padding: 0 0 0 20px;
  margin: auto;
  font-size: 1.5em;
}
.open-search {
  align-self: flex-end;
}
.open-search a {
  float: right;
  padding: 0 10px 0 0;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-image: url('./icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
}

/* List Books */
.list-books-content {
  flex: 1;
}

/* Bookshelf */
.bookshelf {
  padding: 10px 0 0 20px;
}
.bookshelf-title {
  font-weight: 300;
  margin: auto;
  font-size: 1.4em;
  padding: 0 0 1px 0;
}
.bookshelf-break {
  margin: 0 15px 0 0;
}
.bookshelf-books {
  padding: 15px 0 0 0;
}

/* Books Grid */
.books-grid {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
}
.books-grid li {
  flex-basis: 10%;
  padding: 0 0 20px 0;
  list-style-type: none;
}

/* Book */
.book-top {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.book-title {
  font-size: 0.8em;
  padding: 12px 0 0 0;
}
.book-authors {
  font-size: 0.7em;
  font-weight: 100;
  color: #e7e7e7;
}
.book-shelf-changer {
  position: relative;
  bottom: -10px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e7b900;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.book-cover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.33);
}

/* search */
.search-books-bar {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  font-size: 1em;
  border: none;
  background-color: #0b2535;
  color: white;
  outline: none;
  font-weight: 200;
}
.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}
.search-books-results {
  padding: 70px 0 0 0;
}
